body {
  margin: 0 auto;
  max-width: 750px;
  font-family: Sans-Serif;
  color: #333;
  padding: 1em;
}

h1, h2 {
  border-bottom: 3px solid #333;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fefefe;
  height: 150px;
  resize: none;
}

p {
  padding-left: 1em;
}

footer {
  padding: 20px;
  text-align: center;
  font-style: italic;
  font-size: x-small;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tab {
  font-weight: bold;
  background-color: #ccc;
  border: none;
  border-bottom: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1em;
  margin-bottom: 0;
}

.tab:hover:not(.active) {
  color: #eee;
  background-color: #487da3;
}

.tab.active {
  background-color: #eee;
}

.tab-content {
  background-color: #eee;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1em;
  display: none;
  height: 200px;
}
