body {
  margin: 2em auto;
  max-width: 750px;
  font-family: Sans-Serif;
  color: #333;
}

h1 {
  background-color: #cde;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1em;
}

h2 {
  border-bottom: 3px solid #333;
}

#input{
  padding: 1em;
}

p {
  padding-left: 1em;
}
